*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.heading{
    background-color: #1F2937;
    padding: 15px 100px 50px;
}

.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-transform: uppercase;
    padding: 7px;
}

.logo{
    text-decoration: none;
    font-size: 24px;
    color: #F9FAF8;
    font-family: 'Mynerve', cursive;
}

.navlinks{
    display: flex;
    font-size: 24px;
    gap: 25px;
    list-style: none;
}

.navlinks a{
    font-size: 25px;
    color: #E5E7EB;
    text-decoration: none;
    letter-spacing: 1.5px;
    transition: 2ms ease;
}
.navlinks a:hover{
    color: greenyellow;
}

.picture{
    height: 250px;
    width: auto;
    opacity: 80%;
    border-radius: 29px;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.sideContent{
    flex-grow: 2;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    padding-bottom: 15px;
    font-family: 'Roboto Mono', monospace;
;
}
.pContent{
    font-size: 18px;
    color: #E5E7EB;
    font-family: 'Roboto Mono', monospace;
    padding-bottom: 15px;
}

.cButton{
    font-size: 19px;
    background-color: #3882F6;
    padding: 5px 15px;
    border: none;
    border-radius: 7px;
    color: white
}

.section{
    padding: 15px 100px 50px;
}

.section-content{
    text-align: center;
    font-size: 39px;
    font-weight: bolder;
    color: #1F2937;
    font-family: 'Roboto Mono', monospace;
    padding: 10px;
}

.service-img{
    height: 150px;
    width: auto;
    /* border-radius: 30px; */
    margin-bottom: 5px;
    /* border: 2px solid #3882F6; */
}
.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 10px;
}

.text{
    text-align: center;
    color: #1F2937;
    font-family: 'Roboto Mono', monospace;
}

.testimonials{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 10px;
    background-color: #E5E7EB;
    padding: 20px 100px 50px;
}

.comments{
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 250px;
    border: 0.2px solid #000000;
    border-radius: 20px 0;
    box-shadow: 5px 5px 7px #3882F6;
    padding: 15px;
}

.names{
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.action{
    padding: 50px 100px;

}

.call-to-action{
    color: #E5E7EB;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 10px;
    border-radius: 10px;
    background-color: #3882F6;
}

.sign{
    font-size: 20px;
    padding: 8px 25px;
    border-radius: 10px;
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
    border: #E5E7EB 2px solid;
}

.copyright{
    margin-top: auto;
    text-align: center;
    padding: 20px;
    background-color: #1F2937;
    color: #F9FAF8;
}